@{
    ViewBag.Title = "Home Page";
}

<section id="application">
</section>

<script type="text/x-kendo-tmpl" id="app-layout-template">
    <section id="wrapper">
        <section id="header">
            <header>
                <h1>SofE Admin Console</h1>
                <nav>
                    <ul>
                        <li>
                            <a href="#/">Home</a>
                        </li>
                        <li>
                            <a href="#/contributors">Contributors</a>
                        </li>
                        <li>
                            <a href="#/other">Another page</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </section>
        <section id="content">
            <!-- Everything goes here -->
        </section>
        <section id="footer">
            <footer>
                <span><b>&copy; 2013 Nearsoft, Inc.</b></span>
            </footer>
        </section>
    </section>
</script>

<script type="text/x-kendo-tmpl" id="app-index-template">
</script>

<script type="text/x-kendo-template" id="index-template">
    <section>
        <h1>Welcome1</h1>
        <p>Hello world, welcome to my sample page. Things you can try:</p>
            <ul>
                <li>Click, click everywhere!</li>
                <li>Navigate between the different pages</li>
                <li>Modify source code</li>
                <li>Check more info at <a href="http://docs.kendoui.com/api/">Kendo UI Docs</a></li>
            </ul>
        <p>Have fun!</p>
    </section>
</script>

<script type="text/x-kendo-template" id="contributors-template">
    <section>
        <h1>Contributors</h1>
        <p>In the grid below, you can create, read, update or delete items as you wish.</p>
        <div
            data-role="grid"
            data-bind="source: data"
            data-editable="inline"
            data-autoBind="true"
            data-toolbar="['create']"
            data-columns="[{field: 'Name'},
                            {field: 'Phone'},
                            {field: 'Email'},
                            {
                                title: 'Actions',
                                command: ['edit', 'destroy']
                            }]"
            data-pageable="true"
            >
        </div>
    </section>
</script>

<script type="text/x-kendo-template" id="other-template">
    <section>
        <h1>This is another page</h1>
        <p>You can do whatever you want with this template ☺</p>
    </section>
</script>